<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="!(loc.Module.ProductName)" Language="1033" Version="!(bind.fileVersion.Module.File)" Manufacturer="!(loc.Manufacturer)" UpgradeCode="17C59E89-3732-438F-8910-4F0FAE6DBF67">
        <Package Id="*" Description="!(loc.Module.ProductName)" Comments="!(loc.Module.Comments)" Manufacturer="!(loc.Manufacturer)" Platform="x86" InstallerVersion="200" InstallPrivileges="limited" Compressed="yes" />
        <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="PersonalFolder" Name="Documents">
                <Directory Id="PSProfileFolder" Name="WindowsPowerShell">
                    <Directory Id="APPROOT" Name="Modules" DiskId="1">
						<Directory Id="ModuleFolder" Name="WindowsInstaller" />
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
        <Property Id="ARPHELPLINK" Value="http://www.codeplex.com/psmsi/thread/list.aspx" />
        <Property Id="ARPURLINFOABOUT" Value="http://www.codeplex.com/psmsi/" />
        <WixVariable Id="WixUIBannerBmp" Value="Banner.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="Dialog.bmp" />
        <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
        <UIRef Id="WixUI_Minimal" />
        <Feature Id="Module" AllowAdvertise="no" Description="!(loc.Module.Description)" ConfigurableDirectory="APPROOT" Level="1" Title="!(loc.Module.Title)">
            <ComponentRef Id="Module" />
            <ComponentGroupRef Id="DTF" />
            <ComponentGroupRef Id="Help" />
            <ComponentGroupRef Id="WindowsInstaller" />
        </Feature>
        <CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[ModuleFolder]" />
        <InstallExecuteSequence>
            <Custom Action="SetARPINSTALLLOCATION" After="CostFinalize" />
            <RemoveExistingProducts After="InstallInitialize" />
        </InstallExecuteSequence>
        <Upgrade Id="17C59E89-3732-438F-8910-4F0FAE6DBF67">
            <UpgradeVersion IncludeMinimum="yes" Minimum="2.0.0" Maximum="!(bind.fileVersion.Module.File)" MigrateFeatures="yes" Property="OLDERVERSIONDETECTED" />
        </Upgrade>
    </Product>
    <Fragment>
        <DirectoryRef Id="ModuleFolder">
            <Component Id="Module" Guid="CE1F8ECF-0E25-4155-9BE1-E9DC1CADA4C2">
				<File Id="Module.File" Name="Microsoft.WindowsInstaller.PowerShell.dll" Source="$(var.Microsoft.WindowsInstaller.PowerShell.TargetPath)" KeyPath="yes" />
				<File Id="Module.Formats.File" Name="WindowsInstaller.formats.ps1xml" Source="$(var.Microsoft.WindowsInstaller.PowerShell.TargetDir)WindowsInstaller.formats.ps1xml" />
				<File Id="Module.Types.File" Name="WindowsInstaller.types.ps1xml" Source="$(var.Microsoft.WindowsInstaller.PowerShell.TargetDir)WindowsInstaller.types.ps1xml" />
				<!-- ICE64: Make sure the application directory is always removed on uninstall. -->
				<RemoveFolder Id="Module.RemoveFolder" On="uninstall" />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>
