<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="Help">
            <ComponentRef Id="Help.en_US" />
        </ComponentGroup>   
    </Fragment>
    <Fragment>
        <ComponentGroup Id="MSI">
            <ComponentRef Id="MSI.Manifest" />
            <ComponentRef Id="MSI.Module" />
        </ComponentGroup>        
    </Fragment>
    <Fragment>
        <DirectoryRef Id="ModuleFolder">
            <Directory Id="en_US" Name="en-US">
                <Component Id="Help.en_US" Guid="7194975A-C308-4AE7-BCBD-A9471D3A0BAC">
                    <Category Id="D5D9929D-C2C1-46ED-9E3B-7349DD57C5F5" Qualifier="1033" AppData="!(loc.Help.en_US.Description)" />
                    <File Id="Help.en_US.File" Name="Microsoft.WindowsInstaller.PowerShell.dll-Help.xml" Source="$(var.Microsoft.WindowsInstaller.PowerShell.TargetDir)en-US\Microsoft.WindowsInstaller.PowerShell.dll-Help.xml" KeyPath="yes" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="ModuleFolder">
            <Component Id="MSI.Manifest" Guid="D8BF64BF-6695-4C72-A64E-7D2B41F4CA50">
                <File Id="MSI.Manifest.File" Name="MSI.psd1" Source="$(var.Microsoft.WindowsInstaller.PowerShell.TargetDir)MSI.psd1" KeyPath="yes" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="ModuleFolder">
            <Component Id="MSI.Module" Guid="94C13B99-254E-41C6-9EAC-113FB41F373A">
                <File Id="MSI.Module.File" Name="MSI.psm1" Source="$(var.Microsoft.WindowsInstaller.PowerShell.TargetDir)MSI.psm1" KeyPath="yes" />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>
