<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:ps="http://schemas.microsoft.com/wix/PSExtension" ps:RequiredVersion="3.0.5020">
  <Product Id="*" Name="!(loc.SnapIn.ProductName)" Language="1033" Version="!(bind.assemblyFileVersion.SnapIn.File)" Manufacturer="!(loc.Manufacturer)" UpgradeCode="E8119A6C-7752-46FA-904B-C6019D91D0BF">
    <Package Id="*" Description="!(loc.SnapIn.ProductName)" Comments="!(loc.SnapIn.Comments)" Manufacturer="!(loc.Manufacturer)" Platform="x86" InstallerVersion="200" Compressed="yes" />
    <Condition Message="!(loc.MachineOnly)"><![CDATA[ALLUSERS=1]]></Condition>
    <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="Program Files">
        <Directory Id="APPROOT" Name="!(loc.SnapIn.ProductName)" DiskId="1">
          <Directory Id="ModuleFolder" Name="MSI" />
        </Directory>
      </Directory>
    </Directory>
    <Property Id="ALLUSERS" Value="1" />
    <Property Id="ARPHELPLINK" Value="http://psmsi.codeplex.com/thread/list.aspx" />
    <Property Id="ARPURLINFOABOUT" Value="http://psmsi.codeplex.com" />
    <Property Id="WIXUI_INSTALLDIR" Value="APPROOT" />
    <WixVariable Id="WixUIBannerBmp" Value="Banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Dialog.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <UIRef Id="WixUI_InstallDir" />
    <Feature Id="SnapIn" AllowAdvertise="no" Description="!(loc.SnapIn.Description)" ConfigurableDirectory="APPROOT" Level="1" Title="!(loc.SnapIn.Title)">
      <ComponentRef Id="SnapIn" />
      <ComponentGroupRef Id="DTF" />
      <ComponentGroupRef Id="Help" />
      <ComponentGroupRef Id="MSI" />
    </Feature>
    <CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[ModuleFolder]" />
    <InstallExecuteSequence>
      <Custom Action="SetARPINSTALLLOCATION" After="CostFinalize" />
      <InstallExecute Before="RemoveExistingProducts" />
      <RemoveExistingProducts Before="InstallFinalize" />
    </InstallExecuteSequence>
    <Upgrade Id="E8119A6C-7752-46FA-904B-C6019D91D0BF">
      <UpgradeVersion IncludeMinimum="yes" Minimum="1.0.0" Maximum="!(bind.assemblyFileVersion.SnapIn.File)" MigrateFeatures="yes" Property="OLDERVERSIONDETECTED" />
    </Upgrade>
  </Product>
  <Fragment>
    <DirectoryRef Id="ModuleFolder">
      <Component Id="SnapIn" Guid="CE1F8ECF-0E25-4155-9BE1-E9DC1CADA4C2">
        <File Id="SnapIn.File" Name="Microsoft.WindowsInstaller.PowerShell.dll" Source="$(var.Microsoft.WindowsInstaller.PowerShell.TargetPath)" KeyPath="yes" Assembly=".net" AssemblyApplication="SnapIn.File">
          <ps:SnapIn Id="psmsi" RequiredPowerShellVersion="2.0" DescriptionIndirect="Microsoft.WindowsInstaller.Properties.Resources,SnapIn_Description" VendorIndirect="Microsoft.WindowsInstaller.Properties.Resources,SnapIn_Vendor" />
        </File>
        <File Id="SnapIn.Formats" Name="MSI.formats.ps1xml" Source="$(var.Microsoft.WindowsInstaller.PowerShell.TargetDir)MSI.formats.ps1xml">
          <ps:FormatsFile SnapIn="psmsi" />
        </File>
        <File Id="SnapIn.Types" Name="MSI.types.ps1xml" Source="$(var.Microsoft.WindowsInstaller.PowerShell.TargetDir)MSI.types.ps1xml">
          <ps:TypesFile SnapIn="psmsi" />
        </File>
        <Environment Id="SnapIn.ModulePath" Action="set" Name="PSMODULEPATH" Part="first" System="yes" Value="[APPROOT]"/>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
