<?xml version="1.0" encoding="utf-8"?>
<!--
    Copyright (C) Microsoft Corporation. All rights reserved.

    THIS CODE AND INFORMATION IS PROVIDED "AS IS" WITHOUT WARRANTY OF ANY
    KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
    IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A
    PARTICULAR PURPOSE.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="!(loc.Module.ProductName)" Language="!(loc.Module.ProductLanguage)" Version="!(bind.fileVersion.Module.File)" Manufacturer="!(loc.Manufacturer)" UpgradeCode="17C59E89-3732-438F-8910-4F0FAE6DBF67">
        <Package Id="*" Description="!(loc.Module.ProductName)" Comments="!(loc.Module.Comments)" Manufacturer="!(loc.Manufacturer)" Platform="x86" InstallerVersion="200" InstallPrivileges="limited" Compressed="yes" SummaryCodepage="!(loc.Codepage)" />
        <MediaTemplate CompressionLevel="high" EmbedCab="yes" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="APPLICATIONFOLDER" Name="!(loc.Module.ProductName)">
                    <Directory Id="APPROOT">
                        <Directory Id="ModuleFolder" Name="MSI" />
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
        <Property Id="ALLUSERS" Value="2" />
        <Property Id="ARPHELPLINK" Value="http://psmsi.codeplex.com/thread/list.aspx" />
        <Property Id="ARPURLINFOABOUT" Value="http://psmsi.codeplex.com" />
        <Property Id="REINSTALLMODE" Value="amu" />
        <Property Id="MSIINSTALLPERUSER" Value="1" />
        <WixVariable Id="WixUIBannerBmp" Value="Banner.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="Dialog.bmp" />
        <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
        <UIRef Id="DualScope" />
        <Property Id="ApplicationFolderName" Value="!(loc.Module.ProductName)" />
        <Property Id="MsiAppFolder" Value="MsiPerUserFolder" />
        <Feature Id="Module" AllowAdvertise="no" Description="!(loc.Module.Description)" ConfigurableDirectory="APPROOT" Level="1" Title="!(loc.Module.Title)">
            <FeatureGroupRef Id="Help"/>
            <ComponentGroupRef Id="DTF" />
            <ComponentGroupRef Id="MSI" />
            <ComponentRef Id="Module" />
            <ComponentRef Id="PSModulePath.User" />
            <ComponentRef Id="PSModulePath.System" />
        </Feature>
        <!--
            To allow non-elevated per-user installations downlevel and support dual-purpose packages on Windows Installer 5.0 and newer,
            the client process will need to be elevated to install into the per-machine context or a permissions error occurs.
        -->
        <Condition Message="!(loc.Error.ElevationRequired)"><![CDATA[ALLUSERS <> 1 OR Privileged]]></Condition>
        <CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[APPROOT]" />
        <CustomAction Id="SetPerUserInstall" Property="ALLUSERS" Value="" Execute="firstSequence" />
        <InstallUISequence>
            <Custom Action="SetPerUserInstall" Before="CostInitialize">
                <![CDATA[VersionNT < 601]]>
            </Custom>
        </InstallUISequence>
        <InstallExecuteSequence>
            <Custom Action="SetPerUserInstall" Before="CostInitialize">
                <![CDATA[VersionNT < 601]]>
            </Custom>
            <Custom Action="SetARPINSTALLLOCATION" After="CostFinalize" />
        </InstallExecuteSequence>
        <MajorUpgrade AllowDowngrades="yes" Schedule="afterInstallValidate" />
    </Product>
    <Fragment>
            <Component Id="Module" Directory="ModuleFolder">
                <File Id="Module.File" Source="$(var.Microsoft.Tools.WindowsInstaller.PowerShell.TargetPath)" KeyPath="yes" />
                <File Id="Module.Formats.File" Source="$(var.Microsoft.Tools.WindowsInstaller.PowerShell.TargetDir)MSI.formats.ps1xml" />
                <File Id="Module.Types.File" Source="$(var.Microsoft.Tools.WindowsInstaller.PowerShell.TargetDir)MSI.types.ps1xml" />
                <!-- Make sure the application directory is always removed on uninstall. -->
                <RemoveFolder Id="Module.RemoveFolder" On="uninstall" />
            </Component>
    </Fragment>
    <Fragment>
        <Component Id="PSModulePath.User" Guid="CB19DF54-C2F6-4C9F-BEF8-11BD9B7496C4" Directory="ModuleFolder">
            <Condition><![CDATA[ALLUSERS <> 1]]></Condition>
            <CreateFolder />
            <!-- Work around bug that PowerShell does not always consider default module paths. -->
            <Environment Id="PSModulePath.UserDefault" Action="set" Name="PSMODULEPATH" Part="first" Value="%PSMODULEPATH%" />
            <Environment Id="PSModulePath.UserAppRoot" Action="set" Name="PSMODULEPATH" Part="last" Value="[APPROOT]" />
        </Component>
    </Fragment>
    <Fragment>
        <Component Id="PSModulePath.System" Guid="D48CD4B4-616A-453D-8E98-8B6EB1DD794D" Directory="ModuleFolder">
            <Condition><![CDATA[ALLUSERS = 1]]></Condition>
            <CreateFolder />
            <!-- Work around bug that PowerShell does not always consider default module paths. -->
            <Environment Id="PSModulePath.SystemDefault" Action="set" Name="PSMODULEPATH" Part="first" Value="%PSMODULEPATH%" System="yes" />
            <Environment Id="PSModulePath.SystemAppRoot" Action="set" Name="PSMODULEPATH" Part="last" Value="[APPROOT]" System="yes" />
        </Component>
    </Fragment>
</Wix>
